.photo-grid {
  box-sizing: border-box;
  padding: 92px 0;
  
}

@media all and (max-width: 768px) {
  .photo-grid {
    padding: 88px 0;
  }
}

@media all and (max-width: 320px) {
  .photo-grid {
    padding: 64px 0 64px;
  }
}