.footer__link {
  color: #fff;
  text-decoration: none;
  margin: 0;
  font-size: 16px;
  line-height: 1.12;
  cursor: url(../../images/Imported\ Layers\ Copy\ 4.svg), pointer;
}

.footer__link:hover {
  opacity: .8;
}