.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;  
}

@media all and (max-width: 615px) {
  .footer__links {
    padding: 0 0 48px;
  }
}

@media all and (max-width: 320px) {
  .footer__links {
    display:grid;
    grid-auto-flow: row;
    row-gap: 32px;
  }
}