.lead__image {
  max-width: 984px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  object-fit: cover;
}

@media all and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;   
  }
}

@media all and(max-width: 768px) {
  .lead__image {
    max-width: 768px;   
   
  }
}

@media all and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
  }
}