.intro {
  max-width: 984px;
  box-sizing: border-box;
  padding-top: 92px;
  padding-left: 100px;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(0, 690px) minmax(0, 294px);
}

@media all and (max-width: 1024px) {
  .intro {
    padding: 88px 0 0 48px;
    grid-template-columns: auto;

  }
}

@media all and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0;
    grid-template-columns: auto;

  }
}

@media all and (max-width: 320px) {
  .intro {
    padding: 64px 16px 0;
  }
}