.cover {
  margin: 92px 0;
  display: grid;
  grid-template-columns: minmax(0, 1184px);
  grid-template-rows: minmax(0, 740px);
  justify-items: center;
  align-items: center;

  background-image: url(../coverackground.jpg);
  background-size: cover;
}

.cover:hover::before {
  background-image: url(../cover/images/__overlay.jpg);
  opacity: .5;
}