.cover {
  max-width: 1184px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/__background.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  background-size: cover;
  position: absolute;
  z-index: 2;
  opacity: .3;
}

.cover:hover::before {
  opacity: .8;
}

@media all and (max-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}

@media all and (max-width: 1024px) {
  .cover {
    min-height: 640px;   
  }
}

@media all and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media all and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}