.cover__title {
  max-width: 560px;
  max-height: 152px;
  margin: 0 0 32px 0;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;
  font-family: 'Inter-Bold';
  position: relative;
  z-index: 3;
}

@media all and (max-width: 520px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;    
  }
}