.footer {
  max-width: 1184px;
  width: 100%;
  box-sizing: border-box;
  padding: 92px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media all and (max-width: 1024px) {
  .footer {
    padding: 0 48px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media all and (max-width: 320px) {
  .footer {
    display:grid;
    grid-auto-flow: row;
    padding: 48px 0 0;
  }
}
